:root{
    --purple: rgb(66, 71, 100);
    --background-color: rgba(13, 18, 21, 0.952);
    --negativeBodyMargin: -10%;
    --bodyMargin: 10%;
}

body{
    background-color: var(--background-color);
    color: white;
    /* text-align: center; */
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0 var(--bodyMargin); */
    /* padding: 0 5px 0 5px; */
    margin: 0 2%;
}   

a{
    color: white;
}

p{
    line-height: 1.5;
}

.comment{
    border-left: 5px solid rgb(63, 63, 63);
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    padding-left: 10px;
    text-align: 10px;
    height: auto;
}