<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %} {% endblock %} - ComplimentApp</title>
    <style>
        <!-- nav a {
            color: #ce1241;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        } -->

        
    </style>
</head>
<body>

    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>